// COLORS
$color-primary-light: rgb(255, 208, 127);
$color-primary-medium: rgb(253, 166, 93);
$color-primary-dark: rgb(226, 106, 44);
$color-black-op: #202731ad;
$color-black: #202731;
$color-black-rgb: rgb(32, 39, 49);
$color-white: white;
$color-shadow-gray-for-box: #777;
$color-wave-light-op: #f5740ab9;
$color-wave-light: #f5730a;
$color-wave-dark: #871400;
$color-wave-background: #931c1c;

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
